/* Importar fuente de Google */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700,300");
.container2 {
  display: flex;
  justify-content: center;
  align-self: center;
  width: auto;
  height: 70px;
  background-color: #3faf82;
}

/* Estilo del marco */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #3faf82;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;

}
.line1 {
  height: 10px;
  width: 80px;
  background-color: #f7f7f7;
  border-radius: 5px;
  animation: open-line-1 0.7s forwards;
  box-shadow: 0 0 10px 1px #000000;
}
.line2 {
  
  height: 10px;
  width: 80px;
  background-color: #f7f7f7;
  border-radius: 5px;
  animation: open-line-2 0.7s forwards;
  box-shadow: 0 0 10px 1px #000000;
}
.line3{
 
  height: 10px;
  width: 80px;
  background-color: #f7f7f7;
  border-radius: 5px;
  animation: open-line-3 0.7s forwards;
  box-shadow: 0 0 10px 1px #000000;
}

@keyframes open-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 22px, 0) rotate(45deg);
  }
}
@keyframes open-line-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes open-line-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, -20px, 0) rotate(-45deg);
  }
}

.active .line1 {
  animation: close-line-1 0.7s;
}
.active .line2 {
  animation: close-line-2 0.7s;
}
.active .line3 {
  animation: close-line-3 0.7s;
}
@keyframes close-line-1 {
  0% {
    transform: translate3d(0, 22px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate();
  }
  
}
@keyframes close-line-2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes close-line-3 {
  0% {
    transform: translate3d(0, -22px, 0) rotate(-45deg);
  }
  50% {
    transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate();
  }
}